*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
     background-color: aquamarine; 
    display: flex;
    justify-content: center;
}

.contact-list-container{
    display: flex;
    align-items: center; 
    flex-direction: column;
    /* background-color: rgb(223, 216, 118); */
    height: auto;
    width: 35vw;
}

.heading {
    text-decoration: underline solid rgb(68, 68, 68);
     color: rgb(31, 192, 192); 
    font-family: impact;
    font-weight: bolder;
    font-size: 2rem;
    margin-left: -20px; 
    margin-top: 30px;
}

.content{
    /* background-color: deeppink; */
    margin: 15px;
    padding: 10px;
    font-family: sans-serif;
    font-size: large;
    width: 50%;
}

.content li{
    margin-bottom: 10px;
    border:3px groove black ;
    background-color: rgb(86, 212, 28);
}

.details{
    font-weight: bolder;
    cursor: pointer;
    /* text-shadow: 2px 2px 2px #1C6EA4; */
}

.details span{
    font-weight: normal;
    color: darkslategrey;
}

.content li:hover{
    box-shadow: inset 3px 8px 17px 13px rgba(231, 228, 228, 0.64);
    cursor: pointer;
}

.form input{
    box-shadow: inset 3px 8px 17px 13px rgba(87, 16, 16, 0.64);
}
.form{
    box-shadow: inset 3px 8px 17px 13px rgba(192, 40, 98, 0.64);
    padding: 10px;
    cursor: pointer;
}

.button{
    padding: 10px;
    box-shadow: inset 3px 8px 17px 13px rgba(41, 209, 19, 0.64);
    display: flex;
    display: inline;
    flex-direction: column;
    margin-left: 130px;
    margin-top: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}

.form:hover{
    background-color: fuchsia;
}

.button:hover {
    background-color: #3e8e41;
    box-shadow: 0 3px #666; 
    transform: translateY(4px);
  }
  
  .content i{
      font-size: 12px;
     color: olive;
    }

    


